<div class="PostContainer">
    <div class="post">
        <div class="PostHeader">
            <img src="@Url.Content("~/Content/Images/BookStack.png")" alt="BookStack"/>&nbsp
            Managerial Accounting - Ninth Canadian Edition
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Course</li>
                <li class="value">@ViewBag.Course</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Condition</li>
                <li class="value">@ViewBag.Condition</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Posted by</li>
                <li class="value">@ViewBag.PostedBy</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Date Posted</li>
                <li class="value">@ViewBag.Date</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">ISBN</li>
                <li class="value">@ViewBag.ISBN</li>
            </ul>
        </div>       
        <div class="DetailLine">
            <ul> 
                <li class="label">Author</li>
                <li class="value">@ViewBag.Author</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Price</li>
                <li class="value">$@ViewBag.Price</li>
            </ul>
        </div>       
        <div style="float:left;">
            @Html.TextBox("txtBidPrice")
            <input id="BidButton" type="button" value="Submit" />
        </div>
        <div style="float:right;">
            Want to buy this textbook? <input id="BuyButton" type="button" value="Buy Now!" />
        </div>
    </div>
</div>
