<style>

.PostContainer
{
    text-align:center;
    width:100%;
    border: 0px solid red; 
}

    .PostContainer > .post {
        margin: 0px auto; 
        width:90%;
        text-align:left;  
        border: 0px solid green; 
        padding:10px; 
    }

.PostTable
{
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

  

.SecondColumn {
    width:80%;
}

    .DetailLine {
        background-color: #FFEF91;
        border-bottom: 1px solid #E0D69D; 
        padding:0px;
    }

    .DetailLine:hover {
        background-color: #F0F7A1;
    }

    .PostHeader {
        font-size: 20px;
        font-weight:bold; 
        font-family:Calibri; 
        color:#4D2D02; 
        padding:5px; 
        padding-bottom:10px; 
        border-bottom: 3px solid #BA4B06; 
    }

    .DetailLine ul {
        width:100%;
        display:inline-block; 
    }

    .DetailLine ul li {
        display:inline-block;
        list-style-type:none;
    }
    .label {
        width:20%;
        font-weight:bold;
        float: left;
    }
    .value {
        width:70%;
        float: left;
    }

</style>

<div class="PostContainer">
    <div class="post">
        <div class="PostHeader">
            <img src="@Url.Content("~/Content/Images/BookStack.png")" alt="BookStack"/>&nbsp
            Managerial Accounting - Ninth Canadian Edition
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Course</li>
                <li class="value">@ViewBag.Course</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Condition</li>
                <li class="value">@ViewBag.Condition</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Posted by</li>
                <li class="value">@ViewBag.PostedBy</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Date Posted</li>
                <li class="value">@ViewBag.Date</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">ISBN</li>
                <li class="value">@ViewBag.ISBN</li>
            </ul>
        </div>       
        <div class="DetailLine">
            <ul> 
                <li class="label">Author</li>
                <li class="value">@ViewBag.Author</li>
            </ul>
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Price</li>
                <li class="value">$@ViewBag.Price</li>
            </ul>
        </div>       
        <div style="float:left;">
            @Html.TextBox("txtBidPrice")
            <input id="BidButton" type="button" value="Submit" />
        </div>
        <div style="float:right;">
            Want to buy this textbook? <input id="BuyButton" type="button" value="Buy Now!" />
        </div>
    </div>
</div>
