<style>

.PostContainer
{
    text-align:center;
    width:100%;
    border: 2px solid red; 
}

    .PostContainer > .post {
        margin: 0px auto; 
        width:50%;
        text-align:left;  
        border: 2px solid green; 
    }

.PostTable
{
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

  

.SecondColumn {
    width:80%;
}

strong.small
{
    line-height: 20px
}

h2.big
{
    line-height: 40px
}

    .PostHeader {
        background-image: url("@Url.Content("Images/header-bg.png")");
        background-repeat: repeat-x; 
        font-size: 14px;
        font-family:Verdana; 
        color:#FFF; 
        vertical-align:middle; 
    }

</style>

<div class="PostContainer">
    <div class="post">
        <div class="PostHeader">
            <img src="@Url.Content("~/Content/Images/BookStack.png")" alt="BookStack"/>
            Managerial Accounting - Ninth Canadian Edition
        </div>
        <div>
            <strong class="small">Course </strong>
             @ViewBag.Course
        </div>
        <div>
            <strong class="small">Condition </strong>
            @ViewBag.Condition
        </div>
        <div>
            <strong class="small">Posted by </strong>
            @ViewBag.PostedBy
        </div>
        <div>
            <strong class="small">Date Posted </strong>
             @ViewBag.Date
        </div>
        <div>
             <strong class="small">ISBN </strong>
            @ViewBag.ISBN
        </div>       
        <div>
            <strong class="small">Author </strong>
            @ViewBag.Author
        </div>
        <div>
            <strong class="small">Price </strong>
            $@ViewBag.price
        </div>       
        <div>
            @Html.TextBox("bidPriceTextBox", "", new { style="width:40%" })
            <input id="BidButton" type="button" value="Submit" />
        </div>
        <div>
            Want to buy this textbook? <input id="BuyButton" type="button" value="Buy Now!" />
        </div>
    </div>
</div>
