<style>

.PostContainer
{
    text-align:center;
    width:100%;
    border: 0px solid red; 
}

    .PostContainer > .post {
        margin: 0px auto; 
        width:90%;
        text-align:left;  
        border: 0px solid green; 
        padding:10px; 
    }

.PostTable
{
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

  

.SecondColumn {
    width:80%;
}

    .DetailLine {
        background-color: #FFEF91;
        border-bottom: 1px solid #E0D69D; 
        padding:5px;
    }

    .DetailLine:hover {
        background-color: #F0F7A1;
    }

    .PostHeader {
        background-image: url('/Content/Images/header-bg.png');
        background-repeat: repeat-x; 
        font-size: 18px;
        font-family:Verdana; 
        color:#4D2D02; 
        vertical-align:middle;
 
        padding:5px; 
        padding-bottom:10px; 
        border: 1px solid #BA4B06; 
    }

    .DetailLine ul {
        width:100%;
    }

    .DetailLine ul li {
        display:inline;
        list-style-type:none;
    }
    .label {
        width:30%;
        font-weight:bold;
    }
    .value {
        width:70%;
    }

</style>

<div class="PostContainer">
    <div class="post">
        <div class="PostHeader">
            <img src="@Url.Content("~/Content/Images/BookStack.png")" alt="BookStack"/>
            Managerial Accounting - Ninth Canadian Edition
        </div>
        <div class="DetailLine">
            <ul> 
                <li class="label">Course</li>
                <li class="value">@ViewBag.Course</li>
            </ul>
        </div>
        <div class="DetailLine">
            <strong>Condition </strong>
            @ViewBag.Condition
        </div>
        <div class="DetailLine">
            <strong>Posted by </strong>
            @ViewBag.PostedBy
        </div>
        <div class="DetailLine">
            <strong>Date Posted </strong>
             @ViewBag.Date
        </div>
        <div class="DetailLine">
             <strong>ISBN </strong>
            @ViewBag.ISBN
        </div>       
        <div class="DetailLine">
            <strong>Author </strong>
            @ViewBag.Author
        </div>
        <div class="DetailLine">
            <strong>Price </strong>
            $@ViewBag.price
        </div>       
        <div class="DetailLine">
            @Html.TextBox("txtBidPrice")
            <input id="BidButton" type="button" value="Submit" />
        </div>
        <div class="DetailLine">
            Want to buy this textbook? <input id="BuyButton" type="button" value="Buy Now!" />
        </div>
    </div>
</div>
