<style>

.PostContainer
{
margin-left:auto;
margin-right:auto;
width:30%;
}

.PostTable
{
margin-left:auto;
margin-right:auto;
width:100%;
}

.SecondColumn {
width:80%;
}

strong.small
{
line-height: 20px
}

h2.big
{
line-height: 40px
}

</style>

<div class="PostContainer">
    <h2 class="big">Managerial Accounting - Ninth Canadian Edition</h2>
    <table class="PostTable">
        <tr>
            <td>
                <strong class="small">Course: </strong>
            </td>
            <td class="SecondColumn">
                @ViewBag.Course
            </td>
        </tr>
        <tr>
            <td>
                <strong class="small">Condition: </strong>
            </td>
            <td class="SecondColumn">
                @ViewBag.Condition
            </td>
        </tr>
        <tr>
            <td>
                <strong class="small">Posted by: </strong>
            </td>
            <td class="SecondColumn">
                @ViewBag.PostedBy
            </td>
        </tr>
        <tr>
            <td>
                <strong class="small">Date Posted: </strong>
            </td>
            <td class="SecondColumn">
                @ViewBag.Date<br/>
            </td>
        </tr>
        <tr>
            <td>
                <strong class="small">ISBN: </strong>
            </td>
            <td class="SecondColumn">
                @ViewBag.ISBN<br/>
            </td>
        </tr>
        <tr>
            <td>
                <strong class="small">Author: </strong>
            </td>
            <td class="SecondColumn">
                @ViewBag.Author
            </td>
        </tr>
        <tr>
            <td>
                <strong class="small">Price: </strong>
            </td>
            <td class="SecondColumn">
                $@ViewBag.price<br/>
            </td>
        </tr>
    </table>
       
    <div>
        @Html.TextBox("bidPriceTextBox", "", new { style="width:40%" })
        <input id="BidButton" type="submit" value="Submit" />
    </div>

    <div>
        Want to buy this textbook? <input id="BuyButton" type="submit" value="Buy Now!" />
    </div>
</div>
